#noi-drawer {
  .mdc-list-item {
    height: auto;
    min-height: 40px;

    .reg-button {
      width: 100%;
    }
    
  }
  .mdc-list-item__content {
    width: 100%;
    .mdc-list-item__text__content {
      width: 100%;
      .dropdown_icon {
        position: absolute;
        right: 10px;
      }
    }
    .mdc-menu__dropdown {
      width: 100%;
      height: 0;
      transition: 0.5s;
    }
  }
  .mdc-list-item__content.mdc-list-item__content--activated {
    padding-top: 9px;
    .mdc-menu__dropdown {
      width: 100%;
      height: 100px;
      // animation: dropdown-animate-f 0.5s ease-in forwards;
    }
  }
  @keyframes dropdown-animate-f {
    0% {
      height: 0;
    }
    100% {
      height: 100px;
    }
  }

  @keyframes dropdown-animate-b {
    0% {
      height: 100%;
    }
    100% {
      height: 0;
    }
  }
}