#c-footer {
    position: relative;
    min-height: 500px;
    background-color: $theme-white-primary-bg;

    @mixin  width972max  {
        @media (max-width:972px) {
            @content;
        }
    }

    .back {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: $mdc-theme-primary;
        -webkit-clip-path: polygon(0 46%, 100% 28%, 100% 100%, 0% 100%);
        clip-path: polygon(0 46%, 100% 28%, 100% 100%, 0% 100%);
    }

    .content{
        position: relative;
        padding-top: 170px;

        .go-to-top-button-container {
            text-align: right;
            padding-right: 10px;
            .go-to-top-button{
                border-radius: 50%;
                height: 50px;
                width: 40px;
                @include mdc-button-filled-accessible($mdc-theme-secondary);
                @include mdc-button-ink-color($mdc-theme-primary);
            }
        }

        .content-inner {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 100px;
            
            @include width972max {
                grid-template-columns:unset;
            }

            .social-links {
               
                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    grid-column-gap: 5px;

                    @include width972max {
                        max-width: 300px;
                        margin: auto;
                    }

                    li {
                        justify-content: center;
                        .link{
                            margin: auto;
                            height: 50px;
                            width: 50px;
                            background-color: #3b226d;
                            border-radius: 50%;
                            padding: 15px;
                        }
                    }
                }

            }

            // .contact {
            
            // }

            // .navigation {

            // }
        }
        
    }

    .copyright-text{
        text-align: center;
        font-size: 0.8em;
        color: $theme-white-primary;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px 0 5px 0;
        border-top: 1px solid #492988;
    }

}