

.back-style {
    height: 100vh;
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: $mdc-theme-primary;
}


@mixin backChangeMaxWidth {
    @media (max-width:980px) {
        @content;
    }
}

@mixin backChangeMinWidth {
    @media (min-width:981px) {
        @content;
    }
}

@mixin galaxyS9 {
    @media (max-width:394px) {
        @content;
    }
}

@mixin width778max {
    @media (max-width: 778px) {
        @content;
    }
}

@mixin width546max {
    @media (max-width:546px) {
        @content;
    }
}

@mixin width1292Min {
    @media (min-width:1292px) {
        @content;
    }
}

#section-1 {

    .back{
        
        // -webkit-clip-path: polygon(0 0, 71% 0, 33% 100%, 0% 100%);
        // clip-path: polygon(0 0, 71% 0, 33% 100%, 0% 100%);
        -webkit-clip-path: polygon(71% 0, 0 0, 0 100%, 100% 100%, 100% 66%, 92% 92%, 67% 100%, 33% 100%);
        clip-path: polygon(71% 0, 0 0, 0 100%, 100% 100%, 100% 66%, 92% 92%, 71% 100%, 33% 100%);
        @extend .back-style;
        min-height: 600px;

    }

    @include backChangeMaxWidth {
        .back {
            -webkit-clip-path: polygon(100% 0, 100% 47%, 0 68%, 0 53%, 0 0);
            clip-path: polygon(100% 0, 100% 47%, 0 68%, 0 53%, 0 0);
        }
    }       

    .content {
        display: grid;
        grid-template-rows: 50% auto;
        grid-template-areas: 
        'logo'
        'desc';
        padding-top: 17px;
        height: 100vh;
        min-height: 600px;

        @mixin width594 {
            @media (max-width:594px) {
                @content;
            }
        }

        @include galaxyS9 {
            grid-template-rows: 60% auto;
        }

        @include backChangeMinWidth {
            grid-template-rows: unset;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            'logo desc';

        }

        .ioi-logo-content {

            grid-area: logo;
            justify-self: center;
            justify-content: center;
            width: 100%;
            height: fit-content;
    
            .logo-content-inner {
    
                position: relative;
                top: 50%;   
                transform: translateY(-50%);
    
                .logo {
                    max-width: 30%;
                    justify-content: center;
                    justify-self: center;
                    margin: auto;
                }
        
                .logo-text {
                    color: $theme-white-primary;
                    text-align: center;
                    font-size: 1.5em;
    
                    @include galaxyS9 {
                        font-size: 1.3em;
                    }
                }
            }
    
        }

        
        .description-content {
            grid-area: desc;

            .description-content-inner {
                width: 80%;
                justify-self: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin: auto;

                @include galaxyS9 {
                    width: 90%;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    color: $mdc-theme-primary;

                    li {
                        font-size: 1.2em;
                        display: grid;
                        grid-template-areas: 
                        'icon sentence';
                        grid-template-columns: 50px auto;

                        @include galaxyS9 {
                            font-size: 0.8em;
                        }

                        @include width594 {
                            font-size: 1em;
                        }

                        span:first-child{
                            grid-area: icon
                        }

                        span:nth-child(2) {
                            grid-area: sentence
                        }
                    }

                    li:first-child {
                        margin-left: 30%;
                        margin-bottom: 20px;

                        @include backChangeMinWidth {
                            margin-left: 12%;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }


    }

    
}

#section-2 {

    .back {
        @extend .back-style;
        // -webkit-clip-path: polygon(100% 0, 71% 0, 33% 100%, 100% 100%);
        // clip-path: polygon(100% 0, 71% 0, 33% 100%, 100% 100%);
        -webkit-clip-path: polygon(33% 0, 0 85%, 0% 0%, 100% 0%, 100% 100%, 33% 100%, 71% 0);
        clip-path: polygon(33% 0, 0 85%, 0% 0%, 100% 0%, 100% 100%, 33% 100%, 71% 0);
        min-height: 700px;


        @include backChangeMaxWidth {
            -webkit-clip-path: polygon(100% 0, 0 47%, 0 75%, 100% 28%, 100% 100%, 30% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 0 47%, 0 75%, 100% 28%, 100% 100%, 30% 100%, 0 100%, 0 0);
        }
    }

    @mixin width558 {
        @media (max-width:558px) {
            @content;
        }
    }

    @mixin width558min {
        @media (min-width:558px) {
            @content;
        }
    }

    .content {
        height: 100vh;
        display: grid;
        grid-template-rows: 80% auto;
        grid-template-areas: 
        'medals'
        'desc';
        min-height: 700px;

        @include backChangeMinWidth {
            grid-template-columns: 55% auto;
            grid-template-areas: 
            'medals desc';
        }
        
        .medal-content {
            grid-area: medals;
            justify-content: right;
            position: relative;


            @include backChangeMinWidth {
                top: 15%;
                // transform: translateY(-50%);
            }

            .desc-text {
                color: $theme-white-primary;
                position: absolute;
                max-width: 250px;
                top: 10%;
                transform: translateY(-10%);
                left: 10px;

                @include width558min {
                    max-width: 400px;
                }

                @include backChangeMinWidth {
                    max-width: 250px;
                    top: 0;
                    // transform: translateY(-7%);
                }

                @include width1292Min {
                    font-size: 1.3em;
                    width: 500px;
                }
            }

            ul {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                list-style: none;
                padding: 0;
                margin: 0;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                padding-bottom: 7%;

                @include backChangeMinWidth {
                    margin-left: 32%;
                    padding-bottom: 0;
                    display: unset;
                    top: unset;
                    transform: unset;
                }

                li {

                    justify-content: center;

                    @include backChangeMinWidth {
                        margin-bottom: 60px;
                    }

                    .medal-content-inner {

                        position: relative;

                        .medal-img {
                            width: 150px;
                            justify-content: center;
                            position: relative;
                            margin: auto;

                            @include width558 {
                                width: 100px;
                            }

                            @include backChangeMinWidth {
                                margin: unset;
                            }

                            .medal-type-text {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                font-weight: bolder;
                                color: $mdc-theme-primary;

                                @include width558 {
                                    font-size: 0.8em;
                                }
                            }

                            .medal-count {
                                text-align: center;
                                color: $mdc-theme-primary;

                                @include width558 {
                                    font-size: 0.7em;
                                }

                            }
                        }

                        
                    }
                }

                li:nth-child(1) {
                    // margin-left: 60%;
                    // padding-top: 98%

                    order: 2;
                    padding-top: 19px;

                    // padding-top: 250px

                    @include backChangeMinWidth {
                        padding-top: 0;
                        margin-left: 65%;
                    }

                    @include width1292Min {
                        margin-left: 69%;
                    }
                }

                li:nth-child(2) {
                    // margin-left: 60%;
                    // padding-top: 52%

                    order: 1;

                    padding-top: 135px;

                    @include backChangeMinWidth {
                        padding-top: 0;
                        margin-left: 45%;
                    }

                    @include width1292Min {
                        margin-left: 49%;
                    }
                }

                li:nth-child(3) {
                    // padding-left: 30%;
                    // padding-top: 7%;

                    order: 0;
                    padding-top: 250px;

                    @include backChangeMinWidth {
                        padding-top: 0;
                        padding-left: 24%;
                    }

                    @include width1292Min {
                        padding-left: 28%;
                    }

                    // padding-top: 19px
                }
                
            }
        }

        .description{
            grid-area: desc;


            .description-text {
                display: grid;
                grid-template-columns: 35px auto;
                padding: 0 10px 0 10px;
                color: $theme-white-primary;
                width: 350px;
                margin: auto;

                @include width558min {
                    text-align: center;
                }

                @include backChangeMinWidth {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: left;
                }

                @include width1292Min {
                    font-size: 1.3em;
                    width: 500px;
                }
            }
        }
    }
}

@mixin width568max {
    @media (max-width:568px) {
        @content;
    }
}

#section-3 {

    .back{
        
        -webkit-clip-path: polygon(100% 0, 100% 50%, 86% 22%, 19% 22%, 0 0);
        clip-path: polygon(100% 0, 100% 50%, 86% 22%, 19% 22%, 0 0);
        @extend .back-style;
        min-height: 700px;

    }

    .content {
        padding-top: 90px;
        height: auto;
        min-height: 700px;

        .content-text-1 {
            display: grid;
            grid-template-columns: 40px auto;
            max-width: 450px;
            margin: 0 auto 0 auto;
            color:$theme-white-primary;

            @include width568max {
                font-size: 0.8em;
                max-width: 330px;
            }

            @include galaxyS9 {
                max-width: 260px;
            }

            @include backChangeMinWidth {
                font-size: 1.2em;
                max-width: 600px;
            }
        }

        .image-container {
            padding: 100px 30px 20px 30px;

            @include galaxyS9 {
                padding: 50px 30px 20px 30px;
            }

            .my-masonry-image-list {
                @include mdc-image-list-masonry-columns(2);

                @include galaxyS9 {
                    @include mdc-image-list-masonry-columns(1);
                }

                @include backChangeMinWidth {
                    @include mdc-image-list-masonry-columns(3);
                }
            }
        }

        

    }

}

#section-4 {

    .back{
        
        -webkit-clip-path: polygon(0 0, 80% 16%, 100% 75%, 52% 75%, 36% 100%, 0 75%);
        clip-path: polygon(0 0, 80% 16%, 100% 75%, 52% 75%, 36% 100%, 0 75%);
        @extend .back-style;
        min-height: 600px;

    }

    .content {
        padding-top: 90px;
        height: 100vh;
        min-height: 600px;

        .text-1 {
            display: grid;
            grid-template-columns: 50px auto;
            font-size: 1.3em;
            position: relative;
            top: 30%;
            transform: translateY(-30%);
            color:$theme-white-primary;
            padding: 0 0 0 20px;

            @include width778max {
                max-width: 500px; 
            }

            @include width546max {
                font-size: 1em;
                max-width: 300px; 
            }

            @include width1292Min {
                padding: 0 0 0 100px;
            }
        }


        .button-container {
            position: relative;
            top: 40%;
            transform: translateY(-40%);
            text-align: right;
            max-width: 400px;
            margin: auto;
            
            button {
                @include mdc-button-filled-accessible($mdc-theme-secondary);
                @include mdc-button-ink-color($mdc-theme-primary)
            }

            @include galaxyS9 {
                max-width: 250px;
            }
        }

    }

}