#page-about {

    @extend .page-background;

    .back-style {
        height: 100vh;
        position: absolute;
        z-index: 0;
        width: 100%;
        background-color: $mdc-theme-primary;
    }

    #section-1 {

        position: relative;

        .back {
            @extend .back-style;
            min-height: 600px;
            -webkit-clip-path: polygon(0 75%, 0 0, 73% 0, 100% 41%, 0 52%, 9% 86%, 0 100%, 71% 100%, 37% 100%, 100% 84%, 100% 100%, 0 100%);
            clip-path: polygon(0 75%, 0 0, 73% 0, 100% 41%, 0 52%, 9% 86%, 0 100%, 71% 100%, 37% 100%, 100% 84%, 100% 100%, 0 100%);


            @include backChangeMinWidth {
                // -webkit-clip-path: polygon(0 0, 0 100%, 50% 100%, 41% 78%, 51% 35%, 42% 19%, 56% 35%, 46% 77%, 56% 100%, 100% 100%, 100% 0);
                // clip-path: polygon(0 0, 0 100%, 50% 100%, 41% 78%, 51% 35%, 42% 19%, 56% 35%, 46% 77%, 56% 100%, 100% 100%, 100% 0);
                
                // -webkit-clip-path: polygon(0 0, 0 83%, 100% 100%, 0 83%, 43% 100%, 67% 0, 69% 0, 46% 100%, 72% 100%, 100% 100%, 100% 14%);
                // clip-path: polygon(0 0, 0 83%, 100% 100%, 0 83%, 43% 100%, 67% 0, 69% 0, 46% 100%, 72% 100%, 100% 100%, 100% 14%);

                // -webkit-clip-path: polygon(0 0, 0 24%, 24% 15%, 40% 25%, 46% 13%, 68% 17%, 71% 29%, 75% 15%, 87% 24%, 100% 19%, 100% 0);
                // clip-path: polygon(0 0, 0 24%, 24% 15%, 40% 25%, 46% 13%, 68% 17%, 71% 29%, 75% 15%, 87% 24%, 100% 19%, 100% 0);

                // -webkit-clip-path: polygon(0 0, 0 29%, 13% 16%, 16% 24%, 32% 16%, 37% 26%, 51% 9%, 54% 24%, 72% 13%, 75% 24%, 93% 14%, 100% 32%, 100% 65%, 90% 84%, 68% 88%, 65% 80%, 56% 90%, 49% 79%, 34% 86%, 15% 74%, 21% 87%, 9% 84%, 0 69%, 0 100%, 100% 100%, 100% 0);
                // clip-path: polygon(0 0, 0 29%, 13% 16%, 16% 24%, 32% 16%, 37% 26%, 51% 9%, 54% 24%, 72% 13%, 75% 24%, 93% 14%, 100% 32%, 100% 65%, 90% 84%, 68% 88%, 65% 80%, 56% 90%, 49% 79%, 34% 86%, 15% 74%, 21% 87%, 9% 84%, 0 69%, 0 100%, 100% 100%, 100% 0);
                
                // -webkit-clip-path: polygon(0 33%, 34% 18%, 38% 32%, 50% 12%, 69% 18%, 96% 24%, 82% 11%, 100% 0, 0 0, 0 94%, 24% 76%, 63% 90%, 64% 78%, 88% 85%, 100% 66%, 100% 100%, 0% 100%);
                // clip-path: polygon(0 33%, 34% 18%, 38% 32%, 50% 12%, 69% 18%, 96% 24%, 82% 11%, 100% 0, 0 0, 0 94%, 24% 76%, 63% 90%, 64% 78%, 88% 85%, 100% 66%, 100% 100%, 0% 100%);
            
                // -webkit-clip-path: polygon(0 33%, 0 33%, 100% 4%, 0 33%, 100% 4%, 100% 0, 86% 0, 100% 0, 0 0, 0 100%, 0 100%, 0 100%, 0 100%, 0 100%, 100% 66%, 100% 100%, 0% 100%);
                // clip-path: polygon(0 33%, 0 33%, 100% 4%, 0 33%, 100% 4%, 100% 0, 86% 0, 100% 0, 0 0, 0 100%, 0 100%, 0 100%, 0 100%, 0 100%, 100% 66%, 100% 100%, 0% 100%);
            
                -webkit-clip-path: polygon(0 44%, 100% 25%, 100% 0, 0 0, 0 100%, 0 100%, 0 100%, 0 100%, 0 84%, 100% 67%, 100% 100%, 0 100%);
                clip-path: polygon(0 44%, 100% 25%, 100% 0, 0 0, 0 100%, 0 100%, 0 100%, 0 100%, 0 84%, 100% 67%, 100% 100%, 0 100%);
            }

            @include width520Max {
                top: 0;
                bottom: 0;
                height: 100%;
            }
        }

        .content {
            height: 100vh;
            padding-top: 60px;
            position: relative;
            z-index: 2;
            min-height: 600px;
            padding-bottom: 20px;

            @include backChangeMinWidth {
                padding-top: 90px;
            }

            @include  width-change-max-width(520px) {
                height: auto;
                padding-top: 80px;
            }

            .content-inner {
                display: grid;
                grid-template-areas: 'org sp';
                grid-template-columns: 50% auto;
                height: 100%;

                @include width-change-max-width(520px) {
                    grid-template-areas: 'org ' 'sp';
                    grid-template-columns: unset;
                    grid-row-gap: 10px;
                }

                .demo-card__primary, .demo-card__secondary {
                    padding: 1em;

                    .demo-card__title {
                        text-align: center;
                    }
                }

                .demo-card__secondary {
                    color: $theme-white-secondary;
                    min-height: 70px;

                    @include width1003Max {
                        min-height: 90px;
                    }

                    @include width713Max {
                        min-height: 110px;
                    }

                    @include width605Max {
                        min-height: 130px;
                    }

                    @include width-change-max-width(520px) {
                        min-height: auto;
                    }

                    .text {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .mdc-card__primary-action {
                    cursor: default;
                }



                .organizers {
                    grid-area: org;
                    position: relative;
                    padding: 0 10px 0 10px;

                    .org-container {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        margin: auto;
                        max-width: 500px;

                    }
                }
                .sponsors {
                    grid-area: sp;
                    position: relative;
                    padding: 0 10px 0 10px;

                    .sp-container {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        margin: auto;
                        max-width: 500px;
                    }
                }
            }
        }

    }

    #section-2 {

        position: relative;

        .back {
            @extend .back-style;
            // -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 85%, 0 100%, 9% 72%, 6% 50%, 26% 33%, 34% 7%);
            // clip-path: polygon(0% 0%, 100% 0, 100% 85%, 0 100%, 9% 72%, 6% 50%, 26% 33%, 34% 7%);

            // -webkit-clip-path: polygon(100% 0, 100% 92%, 23% 100%, 0 100%, 6% 79%, 0 23%, 0 0);
            // clip-path: polygon(100% 0, 100% 92%, 23% 100%, 0 100%, 6% 79%, 0 23%, 0 0);

            -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 51% 100%, 0 100%, 0% 25%);
            clip-path: polygon(0 0, 100% 0, 100% 75%, 51% 100%, 0 100%, 0% 25%);
            min-height: 600px;


            @include width778max {
                top: 0;
                bottom: 0;
                height: 100%;
            }
           
        }

        .content {
            height: 100vh;
            min-height: 600px;

            @include width778max {
                height: auto;
            }

            .content-inner {
                display: grid;
                grid-template-areas: 'logo desc';
                grid-template-columns: 30% auto;
                height: 100%;
                position: relative;
                z-index: 2;

                @include width778max {
                    grid-template-areas: 'logo' ' desc';
                    grid-template-columns: unset;
                    grid-template-rows: auto auto;
                    grid-row-gap: 10px;
                }

                .logo-content {
                    grid-area: logo;

                    .logo {
                        min-width: 300px;

                        @include width778max {
                            max-width: 400px;
                            padding-right: 1em;
                        }

                        img {

                            // -webkit-clip-path: polygon(0 0, 100% 19%, 70% 100%, 0 100%);
                            // clip-path: polygon(0 0, 100% 19%, 70% 100%, 0 100%);

                            //  -webkit-clip-path: polygon(0 0, 99% 17%, 80% 86%, 0 100%);
                            //  clip-path: polygon(0 0, 99% 17%, 80% 86%, 0 100%);

                            -webkit-clip-path: polygon(0 0, 99% 17%, 78% 100%, 0 84%);
                            clip-path: polygon(0 0, 99% 17%, 78% 100%, 0 84%);

                            @include backChangeMaxWidth {
                                -webkit-clip-path: polygon(0 13%, 100% 31%, 75% 89%, 0 74%, 0 75%, 0 49%);
                                clip-path: polygon(0 13%, 100% 31%, 75% 89%, 0 74%, 0 75%, 0 49%);
                            }
                        }
                    }
                }

                .desc {
                    grid-area: desc;

                    .desc-inner {

                        padding: 1em;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);

                        @include width-change-max-width(458px) {
                            padding-bottom: 100px;
                        }

                        .desc-text {
                            display: grid;
                            grid-template-columns: 50px auto;
                            color: $theme-white-primary;
                            font-size: 1.2em;
                            font-weight: lighter;
                            margin-bottom: 2em;

                            @include backChangeMaxWidth {
                                font-size: 0.9em;
                            }
                        }

                        .desc-text:nth-child(1) {
                            padding-left: 1em*4;

                            @include width778max {
                                padding-left: unset;
                            }
                        }

                        .desc-text:nth-child(2) {
                            padding-left: 1em*2;

                            @include width778max {
                                padding-left: unset;
                            }

                        }

                        .button-cont {
                            padding-left: 50px;

                            button {
                                @include mdc-button-filled-accessible($mdc-theme-secondary);
                                @include mdc-button-ink-color($mdc-theme-primary)
                            }
                        }
                    }
                }
            }
        }
    }

    #section-3 {
        position: relative;
        margin-bottom: -100px;
        z-index: 1;
        .back {
            @extend .back-style;
            // -webkit-clip-path: polygon(51% 0, 0 0, 0 25%);
            // clip-path: polygon(51% 0, 0 0, 0 25%);

            //  -webkit-clip-path: polygon(51% 0, 10% 19%, 70% 100%, 8% 72%, 0 84%, 0 66%, 0 0);
            //  clip-path: polygon(51% 0, 10% 19%, 70% 100%, 8% 72%, 0 84%, 0 66%, 0 0);

            // -webkit-clip-path: polygon(51% 0%, 10% 19%, 100% 82%, 51% 100%, 0 84%, 0 66%, 0 0);
            // clip-path: polygon(51% 0%, 10% 19%, 100% 82%, 51% 100%, 0 84%, 0 66%, 0 0);

            -webkit-clip-path: polygon(0 0, 51% 0, 10% 19%, 100% 81%, 23% 69%, 0 100%, 0% 51%);
            clip-path: polygon(0 0, 51% 0, 10% 19%, 100% 81%, 23% 69%, 0 100%, 0% 51%);

            @include backChangeMaxWidth {
//                 -webkit-clip-path: polygon(51% 0, 10% 19%, 28% 9%, 100% 10%, 0 68%, 0 0);
// clip-path: polygon(51% 0, 10% 19%, 28% 9%, 100% 10%, 0 68%, 0 0);
                -webkit-clip-path: polygon(51% 0, 10% 19%, 51% 0, 100% 10%, 0 68%, 0 0);
                clip-path: polygon(51% 0, 10% 19%, 51% 0, 100% 10%, 0 68%, 0 0);
            }
        }

        .content {
            height: 100vh;
            position: relative;
            z-index: 2;

            @include backChangeMaxWidth {
                height: auto;
            }

            .content-inner {
                display: grid;
                grid-template-areas: 'logo video';
                grid-template-columns: 30% auto;
                height: 100%;

                @include backChangeMaxWidth {
                    grid-template-areas: 'logo' 'video';
                    grid-template-rows: auto auto;
                    grid-template-columns: unset;
                    grid-row-gap: 10px;
                }

                .logo-container {
                    grid-area: logo;

                    .logo {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);

                        -webkit-clip-path: polygon(84% 22%, 100% 62%, 77% 80%, 18% 87%, 0% 75%, 13% 14%);
                        clip-path: polygon(84% 22%, 100% 62%, 77% 80%, 18% 87%, 0% 75%, 13% 14%);


                        @include backChangeMaxWidth {
                            max-width: 400px;
                            margin: auto;

                        }
                    }
                }

                .video-container{
                    grid-area: video;

                    .video {
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        max-width: 600px;
                        padding: 0 1em 0 1em;

                        .mdc-card__media--16-9::before {
                            margin: 0;
                            padding-bottom: 0;
                        }
                    }
                }
            }

            .desc-text {
                display: grid;
                grid-template-columns: 50px auto;
                justify-content: center;
                font-size: 1.2em;
                padding-bottom: 50px;
                color: $mdc-theme-primary;
                padding: 0 1em 80px 1em;

                @include backChangeMaxWidth {
                    padding-top: 30px;
                }
            }
        }
    }
}