@import "./theme.scss";

@import "@material/image-list/mdc-image-list";
@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/theme/mdc-theme";
@import "@material/elevation/mdc-elevation";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/card/mdc-card";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/drawer/mdc-drawer";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/select/mdc-select";
@import "@material/snackbar/mdc-snackbar";
@import "@material/linear-progress/mdc-linear-progress.scss";

.page-background {
  background-color: $theme-white-primary-bg;
}

@import "./custom_mixin";
@import "./cnavbar";
@import "./cdrawer";
@import "./page_home";
@import "./page_news";
@import "./page_noi";
@import "./page_noi_awards";
@import "./page_noi_rules";
@import "./page_ioi";
@import "./page_resources";
@import "./page_about";
@import "./page_contact";
@import "./page_signup";
@import "./page_signup_response";
@import "./cfooter";
@import './page_results';


* {
  margin: 0;
  padding: 0;
}

.mdc-toolbar-fixed-adjust {
  padding-top: 0;
}

a {
  text-decoration: none;
}

// Image reponsive
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Main section */
.main-section {
  margin-top: 0;
}

/* Gallery */
.gallery {
  padding-bottom: 54px;
}

.gallery-section-image-list {
  @include mdc-image-list-masonry-columns(3);
}

.gallery-section {
  margin-top: 48px;
}

.gallery-section h2 {
  margin-bottom: 18px;
}

#org-by {
  background-image: url('../img/acm_ucsc.png');
}

#spo-by {
  background-image: url('../img/oDoc-logo.png');
}

.grecaptcha-badge {
  z-index: 1;
}