@import "./theme.scss";

@import "@material/image-list/mdc-image-list";
@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/theme/mdc-theme";
@import "@material/elevation/mdc-elevation";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/card/mdc-card";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/drawer/mdc-drawer";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/select/mdc-select";

.page-background {
  background-color: $theme-white-primary-bg;
}

@import "./custom_mixin";
@import "./page_home";
@import "./page_news";
@import "./page_noi";
@import "./page_noi_awards";
@import "./page_noi_rules";
@import "./page_ioi";
@import "./page_resources";
@import "./page_about";
@import "./page_contact";
@import "./page_singup";
@import "./page_singup_response";
@import "./cfooter";


* {
  margin: 0;
  padding: 0;
}

.mdc-toolbar-fixed-adjust {
  padding-top: 0;
}

a {
  text-decoration: none;
}

// Image reponsive
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

// Nav bar styles
#noi-nav-bar {

  .mdc-toolbar__section.mdc-toolbar__section-logo-conteiner {

    padding-left: 40px;

    .logo-container {
      width:  64px;
      padding: 5px;
    }

  }

  .mdc-toolbar__section {
    padding: 0;
    flex: 1 0 auto; // important

    .nav-tab {
      height: 64px;
    }

    .reg-button {
      margin: 8px;
      height: 48px;
      @include mdc-button-container-fill-color(#5E35B1);
      // @include mdc-button-container-fill-color(#6164aa);
    }

  }

  .mdc-toolbar__section.mdc-toolbar__section--nav-content {
    .mdc-tab-bar {
      width: auto;
      .mdc-tab-scroller__scroll-content {
        justify-content: right;
      }
    }
    
  }

  .mdc-toolbar__section.mdc-toolbar__section--nav-mobile-content {

    display: none;
  
    .mdc-tab-scroller__scroll-content {

      position: relative;
      justify-content: right;
      display: grid;

      .mobile-responsive-button {

        width: 64px;
        display: unset;
        flex: unset;

      }
         
    }
  }

  @media (max-width:1022px) {
    .mdc-toolbar__section.mdc-toolbar__section-logo-conteiner {
      padding: 0;
    }
  }

  // @media (max-width:1022px) {
  //   .mdc-toolbar__section.mdc-toolbar__section--nav-mobile-content {
  //     display: block;
  //   }
  //   .mdc-toolbar__section.mdc-toolbar__section--nav-content{
  //     display: none;
  //   }
  // }

  @media (max-width:982px) {
    .mdc-toolbar__section.mdc-toolbar__section--nav-mobile-content {
      display: block;
    }
    .mdc-toolbar__section.mdc-toolbar__section--nav-content{
      display: none;
    }
  }

}

#noi-drawer {
  .mdc-list-item {
    height: auto;
    min-height: 40px;
  }
  .mdc-list-item__content {
    width: 100%;
    .mdc-list-item__text__content {
      width: 100%;
      .dropdown_icon {
        position: absolute;
        right: 10px;
      }
    }
    .mdc-menu__dropdown {
      width: 100%;
      height: 0;
      transition: 0.5s;
    }
  }
  .mdc-list-item__content.mdc-list-item__content--activated {
    padding-top: 9px;
    .mdc-menu__dropdown {
      width: 100%;
      height: 100px;
      // animation: dropdown-animate-f 0.5s ease-in forwards;
    }
  }
  @keyframes dropdown-animate-f {
    0% {
      height: 0;
    }
    100% {
      height: 100px;
    }
  }

  @keyframes dropdown-animate-b {
    0% {
      height: 100%;
    }
    100% {
      height: 0;
    }
  }
}

/* Main section */
.main-section {
  margin-top: 0;
}

/* Home */
.history-card {
  margin-top: 16px;
  border-radius: 8px;
}

.history-card_2016 {
  background-image: url("../img/team-2016.png");
}

.history-card_2017 {
  background-image: url("../img/team-2017.png");
}

.history-card_2018 {
  background-image: url("../img/team-2018.png");
}

.history-card_content {
  padding: 16px;
}

/* Gallery */
.gallery {
  padding-bottom: 54px;
}

.gallery-section-image-list {
  @include mdc-image-list-masonry-columns(3);
}

.gallery-section {
  margin-top: 48px;
}

.gallery-section h2 {
  margin-bottom: 18px;
}
