$mdc-theme-primary:#5e35b1;
$mdc-theme-secondary: #26A69A;

@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/theme/mdc-theme";
@import "@material/elevation/mdc-elevation";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/animation/variables";

* {
  margin: 0;
  padding: 0;
}

// Image reponsive
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

// Nav bar styles
#noi-nav-bar {

  .mdc-toolbar__section {
    padding: 0;
    flex: 1 0 auto; // important

    .nav-tab {
      height: 64px;
    }

    .reg-button {
      margin: 8px;
      height: 48px;
      @include mdc-button-container-fill-color(#5E35B1);
      // @include mdc-button-container-fill-color(#6164aa);
    }

  }

  .mdc-toolbar__section.mdc-toolbar__section--nav-mobile-content {

    display: none;
  
    .mdc-tab-scroller__scroll-content {

      position: relative;
      justify-content: right;
      display: grid;

      .mobile-responsive-button {

        width: 64px;
        display: unset;
        flex: unset;

      }
         
    }
  }

  @media (max-width:1022px) {
    .mdc-toolbar__section.mdc-toolbar__section--nav-mobile-content {
      display: block;
    }
    .mdc-toolbar__section.mdc-toolbar__section--nav-content{
      display: none;
    }
  }

}

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

