// Material theme
// $mdc-theme-primary: #6164aa;
$mdc-theme-primary: #5e35b1;
$mdc-theme-secondary: #38bfae;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #442b2d;
$theme-white-primary:#ffffff;