// Material theme
// $mdc-theme-primary: #6164aa;
$mdc-theme-primary: #5e35b1;
$mdc-theme-secondary: #38bfae;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #442b2d;
<<<<<<< HEAD
$theme-white-primary:#ffffff;
$theme-white-primary-bg:rgb(239, 239, 240);
$theme-white-secondary:rgb(92, 92, 92);
$theme-white-secondary-2:rgb(68, 68, 68);
$mdc-theme-color-1: #b18aff;
=======
$theme-white-primary:#ffffff;
>>>>>>> vue
